<div class="col-sm-6" [ngSwitch]="Prop.Class">

  <input *ngSwitchCase="classEnum.String" class="form-control" type="text"
         [value]="Value"
         (change)="onChange($event)"
         (keyup)="onChange($event)">

  <ui-switch *ngSwitchCase="classEnum.Boolean"
             [ngModel]="Value"
             (change)="onChange($event)">
  </ui-switch>

  <span *ngSwitchCase="classEnum.Color">Color</span>
  <span *ngSwitchCase="classEnum.Integer">Int</span>
  <span *ngSwitchDefault>...</span>
  <span>{{Prop.Class}}</span>
</div>
