<div class="mb-2" [formGroup]="conditionGroup">

  <input type="hidden" formControlName="Id">

  <property-selector class="form-group" [property]="PropertyInfo" formControlName="PropertyId"></property-selector>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <select class="form-control" formControlName="Operator">
          <option value="" disabled selected *ngIf="Condition.Operator==''">--- Operatör seçiniz ---</option>
          <option [value]="comparerEnum.Equal">Eşit (=)
          </option>
          <option [value]="comparerEnum.NotEqual">
            Eşit değil (≠)
          </option>

          <option [value]="comparerEnum.Greather">
            Büyük (>)
          </option>

          <option [value]="comparerEnum.EqualOrSmaller">
            Eşit veya büyük (≥)
          </option>

          <option [value]="comparerEnum.Smaller">
            Küçük (<)
          </option>

          <option [value]="comparerEnum.EqualOrGreather">
            Eşit veya küçük (≤)
          </option>

        </select>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="Value" placeholder="Değer Giriniz"/>
      </div>
    </div>
  </div>
  <div *ngIf="Condition.AndConditions.length > 0; elseTemplate">
    <span>Bağlı Koşullar</span><span class="badge badge-pill badge-info">{{Condition.AndConditions?.length}}</span>
    <a class="float-right text-info" (click)="AddAndCondition()"><i class="fa fa-plus"></i> Ekle</a>

    <div class="pl-3 pt-2 left-guide">
      <div
        formArrayName="AndConditions"
        *ngFor="let condition of Condition.AndConditions; let i=index">
        <control-condition
          [formGroupName]="i"
          [conditionGroup]="AndConditionArray.controls[i]"
          [condition]="condition">
        </control-condition>
      </div>
    </div>
  </div>
  <div #elseTemplate>
    <a class="text-info" (click)="AddAndCondition()"><i class="fa fa-plus"></i> Bağlı Koşul Ekle</a>
  </div>
</div>
