<div [formGroup]="conditionGroup" class="">

  <input type="hidden" formControlName="Id">

  <property-selector class="form-group" [property]="PropertyInfo" formControlName="PropertyId"></property-selector>

  <div class="form-group">
    <select class="form-control" formControlName="Operator">
      <option [value]="comparerEnum.Equal">Eşit (=)
      </option>
      <option [value]="comparerEnum.NotEqual">
        Eşit değil (≠)
      </option>

      <option [value]="comparerEnum.Greather">
        Büyük (>)
      </option>

      <option [value]="comparerEnum.EqualOrSmaller">
        Eşit veya büyük (≥)
      </option>

      <option [value]="comparerEnum.Smaller">
        Küçük (<)
      </option>

      <option [value]="comparerEnum.EqualOrGreather">
        Eşit veya küçük (≤)
      </option>

    </select>

  </div>

  <div class="form-group">
    <input class="form-control" type="text" formControlName="Value"/>
  </div>

  <div *ngIf="Condition.AndConditions.length > 0">
    <div class="col-md-12"
         formArrayName="AndConditions"
         *ngFor="let condition of Condition.AndConditions; let i=index">
      <control-condition
        [formGroupName]="i"
        [conditionGroup]="AndConditionArray.controls[i]"
        [condition]="condition"
        class="row">
      </control-condition>
    </div>
  </div>
</div>
