<div class="card m-4">
  <h5 class="card-header">{{Control.Name}}</h5>

  <div class="card-block">
    <form (ngSubmit)="save(controlForm)" [formGroup]="controlForm">
      <div class="mb-3">

        <div class="mb-3 bottom-guide" >
          <span class="lead">Görevler</span>
          <a class="float-right text-info" (click)="AddNewTask()"><i class="fa fa-plus"></i> Görev Ekle</a>
        </div>
        <div formArrayName="Tasks" *ngFor="let task of Control.Tasks; let i=index">
          <control-task
            [formGroupName]="i"
            [taskGroup]="TaskArray.controls[i]"
            [task]="task">
          </control-task>
        </div>

      </div>

      <div class="mb-3">
        <div class="mb-3 bottom-guide" >
          <span class="lead">Koşullar</span>
          <a class="float-right text-info" (click)="AddNewCondition()"><i class="fa fa-plus"></i> Koşul Ekle</a>
        </div>

        <div formArrayName="Conditions" *ngFor="let condition of Control.Conditions; let i=index">
          <control-condition
            [formGroupName]="i"
            [conditionGroup]="ConditionArray.controls[i]"
            [condition]="condition">
          </control-condition>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Kaydet</button>
    </form>
  </div>

  <div class="card-footer">{{controlForm.value | json}}</div>
</div>

