<button class="btn btn-default" style="margin-bottom: 16px" (click)="Open(content)" xmlns="http://www.w3.org/1999/html">
  <span *ngIf="Prop.Id==''; else:elseBlock">Özellik Seç</span>
  <ng-template #elseBlock>
    {{Prop.DeviceName}} <i class="fa fa-chevron-right ml-1 mr-1"></i>
    {{Prop.FunctionName}} <i class="fa fa-chevron-right ml-1 mr-1"></i>
    {{Prop.Name}}
  </ng-template>
</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">

    <div class="form-group">
      <select class="form-control" [ngModel]="Prop.DeviceId"
              (change)="populateFunctions($event.target.value)">
        <option value="" disabled selected *ngIf="Prop.DeviceId==''">--- Aygıt seçiniz ---</option>
        <option *ngFor="let d of Devices" [value]="d.Id">
          {{d.Name}}
        </option>
      </select>
    </div>

    <div class=" form-group
        " *ngIf="Device != null">
      <select class="form-control" [ngModel]="Prop.FunctionId"
              (change)="populateProperties($event.target.value)">
        <option value="" disabled selected *ngIf="Prop.FunctionId==''">--- Fonksiyon seçiniz ---</option>
        <option *ngFor="let f of Device.Functions" [value]="f.Id">
          {{f.Name}}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="Function != null">
      <select class="form-control" [(ngModel)]="Prop.Id"
              *ngIf=" Function.Properties?.length != 0; else noproperty">
        <option value="" disabled selected *ngIf="Prop.Id==''">--- Özellik seçiniz ---</option>
        <option *ngFor="let p of Function.Properties" [value]="p.Id">{{p.Name}}</option>
      </select>
      <ng-template #noproperty>
        <span class="lead text-warning text-center">Seçilebilir herhangi bir özellik bulunamadı</span>
      </ng-template>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d()">İptal</button>
    <button type="button" class="btn btn-info" (click)="c(content)">Seç</button>
  </div>
</ng-template>
