<div class="card">
  <form (ngSubmit)="Save(deviceForm)" [formGroup]="deviceForm">
    <input type="hidden" id="Id" formControlName="Id">

    <div class="card-header">
      <input class="form-control header" type="text" formControlName="Name" placeholder="Aygıt İsmi Girin"/>
    </div>

    <div class="card-block">
      <div class="row" formArrayName="Functions" *ngFor="let f of Device.Functions; let i=index">
        <div class="col-md-12" device-function [formGroupName]="i"
                         [functionGroup]="FunctionArray.controls[i]"
                         [function]="f">
        </div>
      </div>
    </div>

    <div class="card-footer text-justify">
      <button type="submit" class="btn btn-info">Kaydet</button>
    </div>
    <div class="card-footer text-justify">
      <p>{{deviceForm.value|json}}</p>
    </div>
  </form>
</div>

