<div class="col-md-12" [formGroup]="functionGroup">
  <input type="hidden" formControlName="Id">
  <div class="row">

    <div style="width: 150px;">
      <small>Fonksiyon İsmi</small>
      <br>
      <input type="text" class="form-control" formControlName="Name"/>
    </div>
    <div formArrayName="Properties" *ngFor="let p of Function.Properties; let i=index">

      <div [formGroupName]="i">
        <input type="hidden" id="Id" formControlName="Id">
        <property-editor [property]="p" formControlName="Value"></property-editor>
      </div>
    </div>
  </div>
</div>
