<div class="weekDays-selector mt-1">
  <input type="checkbox" id="{{Id}}-weekday-mon" class="weekday" [(ngModel)]="Monday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-mon">Pa</label>
  <input type="checkbox" id="{{Id}}-weekday-tue" class="weekday" [(ngModel)]="Tuesday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-tue">Sa</label>
  <input type="checkbox" id="{{Id}}-weekday-wed" class="weekday" [(ngModel)]="Wednesday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-wed">Ça</label>
  <input type="checkbox" id="{{Id}}-weekday-thu" class="weekday" [(ngModel)]="Thursday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-thu">Pe</label>
  <input type="checkbox" id="{{Id}}-weekday-fri" class="weekday" [(ngModel)]="Friday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-fri">Cu</label>
  <input type="checkbox" id="{{Id}}-weekday-sat" class="weekday" [(ngModel)]="Saturday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-sat">Ct</label>
  <input type="checkbox" id="{{Id}}-weekday-sun" class="weekday" [(ngModel)]="Sunday" (change)="OnDowChanged()"/>
  <label for="{{Id}}-weekday-sun">Pz</label>
</div>
