small[_ngcontent-c0]{
  border-radius: 2px !important;
}

.switch-medium[_ngcontent-c0]{
  border-radius: 3px !important;
  width: 42px !important;
}

.switch-medium[_ngcontent-c0] small[_ngcontent-c0] {
  width: 22px !important;
  height: 30px !important;
}
