/* You can add global styles to this file, and also import other style files */
body {
  font-size: 0.8em;
}

button, a, .form-control:hover {
  cursor: pointer;
}

.container {
}

.lead {
  font-size: 1.4em;
  font-weight: 400;
}

.btn {
  font-size: 1em;
  border-bottom: 3px solid;
  border-radius: 2px;
  margin-bottom: 3px !important;
  padding: 6px 8px 6px;
  border-bottom-color: rgba(0, 0, 0, 0.20);
}

.btn-lg {
  font-size: 1.2em !important;
  border-radius: 2px !important;
  padding: 10px 14px 10px !important;
}

.btn-default, .btn-secondary {
}

.btn-default:hover, .btn-secondary:hover {
  background: rgb(190, 190, 190) !important;
}

.btn-info, .btn-outline-info {
}

.col-md-6 {
  padding: 15px;
}

input.form-control.header {
  background: transparent !important;
  border: rgba(0, 0, 0, 0) !important;
  font-size: 1.5em;
}

input.form-control.header:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
}

input.form-control, select.form-control {
  font-size: 1em;
  line-height: 1.6em !important;
  border-top: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  padding: 0 8px 0 8px !important;
  margin-bottom: 3px !important;
  background: none;
}

.input-group-addon {
  border: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
  background: none !important;
  margin-bottom: 3px !important;
}

.input-group-addon:focus {
  border: none !important;
  background: rgb(221, 221, 221) !important;
  outline: none !important;
}

.left-guide {
  border-left: 2px solid rgba(0, 0, 0, 0.16)
}

.bottom-guide {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16)
}

.badge {
  margin-left: 5px;
  vertical-align: super;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar h1 small {
  font-size: 20px;
  font-weight: 300;
}

.navbar-toggler {
  background: none !important;
  margin-top: 5px;
}

.navbar-toggler:hover {
  background: none !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5) !important;
}

.navbar-toggler:focus {
  background: none !important;
  box-shadow: none !important;
}

.navbar-toggler:active {
  background: white !important;
  color: #292b2c !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
}

@media (max-width: 978px) {
  .container {
    padding: 5px;
    margin: 0;
  }

  div.card-block {
    padding: 10px;
  }
}
