/* You can add global styles to this file, and also import other style files */
body {
  font-size: 0.8em;
  background-color: whitesmoke;
}

button, a, .form-control:hover {
  cursor: pointer;
}

.container {
}

.lead {
  font-size: 1.4em;
  font-weight: 400;
}


input.form-control.header {
  background: transparent !important;
  border: rgba(0, 0, 0, 0) !important;
  font-size: 1.5em;
}

input.form-control.header:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
}

.form-control:focus{
  box-shadow:none;
  border-bottom: 2px solid #31b0d5 !important;
}

input.form-control, select.form-control {
  font-size: 1em;
  line-height: 1.6em !important;
  border-top: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  padding: 0 8px 0 8px !important;
  margin-bottom: 3px !important;
  background: none;
}

.input-group-addon {
  border: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16) !important;
  background: none !important;
  margin-bottom: 3px !important;
}

.input-group-addon:focus {
  border: none !important;
  background: rgb(221, 221, 221) !important;
  outline: none !important;
}

.left-guide {
  border-left: 2px solid rgba(0, 0, 0, 0.16)
}

.bottom-guide {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16)
}


@media (max-width: 978px) {
  .container {
    padding: 5px;
    margin: 0;
  }
}
