<div [ngSwitch]="Prop.Class">

  <input *ngSwitchCase="classEnum.String" class="form-control" type="text"
         [value]="Value"
         (change)="onChange($event)"
         (keyup)="onChange($event)">

  <ui-switch *ngSwitchCase="classEnum.Boolean"
             [ngModel]="Value"
             (change)="onChange($event)">
  </ui-switch>

  <input *ngSwitchCase="classEnum.Color" class="form-control" [(colorPicker)]="Value" [style.background]="Value"
         [cpOutputFormat]="'rgba'" style="width: auto;"
         [value]="Value"
         (colorPickerChange)="onColorChange($event)">


  <input *ngSwitchCase="classEnum.Integer" class="form-control" type="number"
         [value]="Value"
         (change)="onChange($event)"
         (keyup)="onChange($event)">

  <dow-picker *ngSwitchCase="classEnum.DayOfWeeks" [ngModel]="Value" (changeEvent)="onChange($event)"></dow-picker>

  <div class="input-group" *ngSwitchCase="classEnum.Date">
    <input class="form-control col-md-3" placeholder="GG.AA.YYYY"
           name="dp" [(ngModel)]="Value" ngbDatepicker #d="ngbDatepicker" (navigate)="onChange($event)">
    <button class="input-group-addon" (click)="d.toggle()" type="button">
      <i class="fa fa-calendar"></i>
    </button>
  </div>

  <ngb-timepicker  *ngSwitchCase="classEnum.Time" [(ngModel)]="Value"></ngb-timepicker>

</div>
