<div class="card">
  <form (ngSubmit)="save(controlForm)" [formGroup]="controlForm">
    <input type="hidden" id="Id" formControlName="Id">

    <div class="card-header">
      <input class="form-control header" type="text" formControlName="Name" placeholder="Kontrol İsmi Girin"/>
    </div>

    <div class="card-block bottom-guide">

      <div class="mb-3">

        <div class="mb-3 bottom-guide">
          <span class="lead">Görevler</span><span class="badge badge-pill badge-info">{{Control.Tasks?.length}}</span>
          <a class="float-right text-info" (click)="AddNewTask()"><i class="fa fa-plus"></i> Görev Ekle</a>
        </div>
        <div formArrayName="Tasks" *ngFor="let task of Control.Tasks; let i=index">
          <a class="text-danger"><i class="fa fa-times mt-3" (click)="RemoveTask(i)"></i> Kaldır</a>
          <control-task
            [formGroupName]="i"
            [taskGroup]="TaskArray.controls[i]"
            [task]="task">
          </control-task>
        </div>

      </div>
    </div>

    <div class="card-block">
      <div class="mb-3">
        <div class="mb-3 bottom-guide">
          <span class="lead">Koşullar</span><span
          class="badge badge-pill badge-info">{{Control.Conditions?.length}}</span>
          <a class="float-right text-info" (click)="AddNewCondition()"><i class="fa fa-plus"></i> Koşul Ekle</a>
        </div>

        <div formArrayName="Conditions" *ngFor="let condition of Control.Conditions; let i=index">
          <a class="text-danger"><i class="fa fa-times mt-3" (click)="RemoveCondition(i)"></i> Kaldır</a>
          <control-condition
            [formGroupName]="i"
            [conditionGroup]="ConditionArray.controls[i]"
            [condition]="condition">
          </control-condition>
        </div>

      </div>

      <button type="submit" class="btn btn-info">Kaydet</button>
      <a class="link text-danger pull-right" (click)="Remove()"> <i class="fa fa-times"></i> Kaldır</a>
    </div>

    <div class="card-footer text-justify">{{controlForm.value | json}}</div>

  </form>

</div>

