<button class="btn btn-default" style="margin-bottom: 16px" (click)="Open(content)">
  {{Prop.DeviceName}} > {{Prop.FunctionName}} > {{Prop.Name}}
</button>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">

    <div class="form-group">
      <select class="form-control" [ngModel]="Prop.DeviceId"
              (change)="populateFunctions($event.target.value)">
        <option value="" disabled selected *ngIf="Prop.DeviceId==''">--- Aygıt seçiniz ---</option>
        <option *ngFor="let d of Devices" [value]="d.Id">
          {{d.Name}}
        </option>
      </select>
    </div>

    <div class=" form-group
        " *ngIf="Device != null">
      <select class="form-control" [ngModel]="Prop.FunctionId"
              (change)="populateProperties($event.target.value)">
        <option value="" disabled selected>--- Fonksiyon seçiniz ---</option>
        <option *ngFor="let f of Device.Functions" [value]="f.Id">
          {{f.Name}}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="Function != null">
      <select class="form-control" [ngModel]="Prop.Id">
        <option *ngFor="let p of Function.Properties" [value]="p.Id">{{p.Name}}</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">İptal</button>
    <button type="button" class="btn btn-info" (click)="Apply()">Seç</button>
  </div>
</ng-template>
