/* You can add global styles to this file, and also import other style files */

.form-control{
  border-top: none;
  border-bottom: 2px solid rgba(0,0,0,0.16);
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding: 0px 5px 0px;
}
.card-header{

}
